
<div class="container mt-4" *ngIf="recipe">
    <div class="recipe-detail card shadow-lg border-0">
      <div class="card-header bg-success text-white">
        <h1 class="card-title text-center">{{ recipe.title }}</h1>
      </div>
      <div class="container mt-4" *ngIf="recipe">
        <div class="row">
          <div class="col-md-6 text-center">
            <div class="image-container" >
              <img *ngIf="imageRecipe" [src]="imageRecipe" [alt]="recipe.title" 
                   class="img-fluid rounded"
                   id="image-detail" />
              <p class="mt-3"><strong>Dish Preview</strong></p>
            </div>
          </div>
      
          <div class="col-md-6">
            <div class="recipe-details">
              <h3 class="text-success">Details Recette</h3>
              <p><strong>Description:</strong> {{ recipe.description }}</p>
              <p><strong>RecipeType:</strong> {{ recipe.category }}</p>
              <p><strong>Preparation Time:</strong> {{ recipe.preparation_time }} minutes</p>
              <p><strong>Cooking Time:</strong> {{ recipe.cooking_time }} minutes</p>
              <p><strong>Servings:</strong> {{ recipe.servings }}</p>
              <p><strong>Difficulty:</strong> {{ recipe.difficulty_level }}</p>
              <div>
                <h3 class="text-success">Ingredients</h3>
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let component of recipe.components">
                    <span>
                      <strong>{{ component.ingredient.alimentName }}</strong> ({{ component.ingredient.alimentGroupName }}) - 
                      {{ component.quantity }} {{ component.unit }}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <p><strong>Instructions:</strong> {{ recipe.instructions }}</p>

      </div>
      <div class="card-footer bg-light text-center">
        <button class="btn btn-success" (click)="backRecipeList()">Back to Recipes</button>
      </div>
    </div>
</div>
  