<div class="container mt-5">
    <h2 class="text-center text-success mb-4">Your personal information.</h2>
    <div *ngIf="user" class="card shadow-lg rounded-3 border-0">
      <!-- Cart header -->
      <div class="card-header bg-success text-white text-center rounded-top">
        <h5 class="mb-0">User account</h5>
      </div>
  
      <!-- Cart Content -->
      <div class="card-body p-4">
        <table class="table table-bordered align-middle">
          <tbody>
            <tr>
              <th scope="row" class="bg-light">Username</th>
              <td>{{ userName }}</td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">LastName</th>
              <td>{{ user.lastName }}</td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">Firstname</th>
              <td>{{ user.firstName }}</td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">Email</th>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">Registration date</th>
              <td>{{ user.date_registration | date:'dd/MM/yyyy' }}</td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">Blocked account</th>
              <td>
                <span class="badge px-3 py-2" [ngClass]="user.blocked ? 'bg-danger' : 'bg-success'">
                  {{ user.blocked ? 'Yes' : 'No' }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <!-- Error message if no data -->
    <div *ngIf="!user" class="alert alert-danger mt-4 text-center">
        Unable to retrieve user information.
    </div>
  </div>
  