.container {
    margin-top: 100px;
    color: #333;
  }
  
  h1 {
    font-size: 8rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1.2rem;
    color: #6c757d;
  }
  
  .btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
  }
  
  img {
    margin-top: 2rem;
  }
  