<div class="container">
  @if(this.err){
    @if(this.msg){
      <div class="alert alert-danger mt-3" role="alert">
        {{msg}}
      </div>
    }
  }@else {
    @if(this.msg){
      <div class="alert alert-primary mt-3" role="alert">
        {{msg}}
      </div>
    }
  }
    <h2 class="my-5 text-danger">Payment Unsuccessful</h2>
  
    <div class="card">
      <div class="card-body">
        <div class="alert alert-warning" role="alert">
            Your payment was canceled, or an issue occurred while processing your transaction with PayPal. <br>
            Please try again or contact support if the problem persists. 
          </div>
      </div>
    </div>
   
    
    <p>You will be redirected in {{countdown}} seconds...</p>

    
  
  </div>