<div class="container">
    <h2 class="my-5 text-danger">Payment Unsuccessful</h2>
  
    <div class="card">
      <div class="card-body">
        <div class="alert alert-danger" role="alert">
            Your payment was canceled, or an issue occurred while processing your transaction with PayPal. <br>
            Please try again or contact support if the problem persists. 
          </div>
      </div>
    </div>
   
    
    <p>You will be redirected in {{countdown}} seconds...</p>

    
  
  </div>