<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand text-white h1 m-2" href="#">Recipe App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ms-auto h5 m-2">
            <li class="nav-item">
                <a class="nav-link active text-white" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/recipe">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="contests">Contests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="available-contests">AvailableContests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="RecipeType">RecipeType</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="ContestCategory">ContestCategory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="myrecipe">My recipes</a>
            </li>
            <li class="nav-item">
                 <a class="nav-link text-white" href="User-info">My account</a>
            </li>
            
            <li class="nav-item">
                <button *ngIf="!isAuhtentificated" (click)="logIn()" class="btn bg-white">Log in</button>
                <button *ngIf="isAuhtentificated" (click)="logOut()" class="btn bg-white">Log out</button>
            </li>
        </ul>
    </div>
</nav>
