.pagination-box {
    display: flex;
    gap: 10px;
  }
  
  .page-box {
    border: 1px solid #198754;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    color: #198754;
    cursor: pointer;
    font-weight: bold;
  }
  
  .page-box:hover {
    background-color: #198754;
    color: white;
  }
  
  .active-page {
    background-color: #198754;
    color: white;
  }
  