<div class="container">
    <h2 class="my-5 text-success">Registration for {{contest.title}}</h2>
    <div class="card">
        <div class="card-body">
            <p><strong>Start Date:</strong> {{contest.start_date}}</p>
            <p><strong>End Date:</strong> {{contest.end_date}}</p>
            <p><strong>Maximum Participants:</strong> {{contest.max_participants}}</p>
            <p><strong>Status:</strong> {{contest.status}}</p>
        </div>
        
    </div>
    <div class="row mt-3">
        <div class="col">
          <button class="btn btn-secondary" (click)="onCancel()">
            Cancel Registration
          </button>
        </div>
      </div>
</div>