.recipe-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.recipe-card:hover {
  transform: scale(1.05); /* Zoom effect */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}

.recipe-photo {
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0; /* Rounded corners at the top */
}

.recipe-image-container {
  overflow: hidden; /* Hide overflow for smooth zoom effect */
  border-radius: 8px 8px 0 0;
}

.icon-plus {
  font-size: larger;
  font-weight: bold;
  
}
