<div class="recipe-container">
    <h1>Recipe List</h1>
    <div *ngIf="recipes | async as recipeList; else loading">
      <div *ngIf="recipeList.length > 0; else noData">
        <div class="recipe-card" *ngFor="let recipe of recipeList">
          <div  (click)="detailRecipe(recipe.id)">
              <h2>{{ recipe.title }}</h2>
            <img *ngIf="recipe.photo_url" [src]="recipe.photo_url" [alt]="recipe.title" class="recipe-photo" />
            <p><strong>Description:</strong> {{ recipe.description }}</p>
            <p><strong>Category:</strong> {{ recipe.category }}</p>
            <p><strong>Preparation Time:</strong> {{ recipe.preparation_time }} minutes</p>
            <p><strong>Servings:</strong> {{ recipe.servings }}</p>
            <p><strong>Difficulty:</strong> {{ recipe.difficulty_level }}</p>
          </div>
          
        </div>
      </div>
  
      <ng-template #noData>
        <p>No recipes available.</p>
      </ng-template>
    </div>
  
    <ng-template #loading>
      <p>Loading recipes...</p>
    </ng-template>
  </div>
  