#homepage {
    background-image: url('./../../assets/bgHome2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    filter: blur(3px);
}

.content-homepage{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
